body{
    background-color: gold;
}

.on > li,.off > li{
    margin:0;
    padding:0;
    text-align:center;
}


.on,.off{
    height:25%;
    width:200px;
    text-align:center;
    font-size:30px;
    background-color:lightSeaGreen;
    
}



.off > li{
    display:none;
}

.on > li{
    display:block;
}