ul.on{
    display:block;
    height:25%;
    width:250px;
    float:left;
    background-color:gold;
}

ul.off{
    display:block;
    height:25%;
    width:250px;
    float:left;
    background-color:gold;
}

ul.off > li{
    display:none;
}